@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/my-CSS/image-css.css" rel="stylesheet" />
<div class="col-md-12">
    <img src="~/Content/my-images/diu-trans.jpg" class="imagePosition" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About US</h2>
        <p>
            <h4>Team : <b>BlueShift</b></h4> <br />
            Members: <br />
            Sourav Das | Jamil Zakaria <br />
            Mushfiq Ayan | Himu Ahmed
        </p>
        <p><a class="btn btn-default" href="">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About This Project</h2>
        <p>This web application is only for using one semester only of a university. <br />
        If it will make user happy in a semester, university will then ask for changing several features so that it can be used for long time.</p>
        <p><a class="btn btn-default" href="">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Thanks Giving</h2>
        <p>
            <h4>Project Co-ordinator: Zohirul Alam Tiemoon</h4> <br />
            Lead Trainer: <b>Tayabur Rahman Masud</b> <br />
            Associate Trainer: <br />
            Protik Hossain | Naime Ahmed
        </p>
        <p><a class="btn btn-default" href="">More &raquo;</a></p>
    </div>
</div>
